<div id="zipcode-input" class="d-flex justify-content-center">
  <form action="/" method="post">
    <div class="row">
      <div class="col-6 col-sm-auto">
        <input type="text" class="form-control" id="zip" name="zip" placeholder="ZIP code" />
      </div> <!-- end col-auto -->
      <div class="col-6 col-sm-auto">
        <button class="btn btn-primary" id="submit">Check Weather and Alerts</button>
      </div> <!-- end col-auto -->
    </div> <!-- end row -->
  </form>
</div> <!-- end zipcode-input -->